.navbar {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 0;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: darkorange;
}
